
/* section dos agents */

.icons-agents{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
   
    
}

.center{
    text-align: center;
}

.list-agent {
 
}


/* img */

.imgIcon {
    height: 128px;
    transition: ease-in-out 600ms ;
    transform: translateX(0) scale(0.9);
}

.imgIcon:hover,
.imgIcon:focus{

    background-color: rgba(255, 70, 85, 0.8);
    transform: translateX(5px) scale(1);
    
    
}