
/* section dos agents */

.icons-agents{
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    margin: 0 20%;
}




/* img */

.imgIcon {
    height: 12.8rem;
    transition: ease-in-out 600ms ;
    transform: translateX(0) scale(0.9);
    border: .1rem solid white;
}

.imgIcon:hover,
.imgIcon:focus{

    background-color: rgba(255, 70, 85, 0.8);
    transform: translateX(5px) scale(1);
    
    
}