img {
    height: 20rem;
    width: 35.5rem;
    transition: ease-in-out 600ms;
    border: .2rem solid black;
}


a {
    transition: ease-in-out 600ms;
    transform: translateX(0) scale(0.9);
}

a:hover,
a:focus {
    transform: translateX(5px) scale(1);
    background-color: black;
}

.maps-select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

