:root {
    font-size: 62.5%; /* 62.5% = 10px*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Mono", monospace;
    font-optical-sizing: auto;
}


.bg-padrao {
    background-color: #ECE8E1;

}


li {
    list-style: none;
}


.title {
    color: #383E3A;
    text-align: center;
    padding-top: 5rem;
    font-size: 2.5rem;
}

.center{
    text-align: center;
}

/* navbar */

.menuLink {
    color: #ECE8E1;
    text-decoration: none;
    font-size: 2rem;
}

.list-menu {
    padding: .6rem;
    margin-left: 5rem;
}


.list-menu:hover {
    background-color: #333333;
    border-radius: 1rem;
}

.menu {
    display: flex;
}

.bg-menu {
    background-color: #111111;
    padding:auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
}

