
.bg-img{
    background-image: url('https://media.valorant-api.com/maps/ee613ee9-28b7-4beb-9666-08db13bb2244/splash.png');
    backdrop-filter: blur(10px);
    display: table;
    width: 100%;
    height: 100vh;
    background-position: 30% 45%;
    background-size: cover;
}

a:link {
    text-decoration:none;
}

p {
    color: white;
    background-color: rgba(115, 117, 132, 0.4); 
    font-size: 2rem;
}

.wp-link {
    background-color: rgba(115, 117, 132, 0.25); 
     transition: ease-in-out 600ms ;
    transform: translateX(0) scale(0.7);
}


.wp-link:hover,
.wp-link:focus {
    transform: translateX(.5rem) scale(0.75);
}

.grid-wp {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}

.pistol-box {
    height: 15rem;
    width: 28.8rem;
}

.tilte-weapons {
    text-align: center;
    color: white;
}

.melee-box {
    height: 18rem;
    width: auto;
}


